.callback {
    background-color: var(--second-bgc);
  }
  .callback__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .callback__form-wrapper {
    display: flex;
    flex-direction: column;
  }
  .callback__text {
    margin-bottom: 34px;
    color: var(--first-text-color);
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
  }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 60px;
  }
  .form__input {
    width: 620px;
    height: 40px;
    background: var(--first-bgc);
    border: 1px solid var(--second-bgc);
    border-radius: 0px;
    color: var(--first-text-color);
    font-size: 18px;
    line-height: 1.56;
    &::placeholder {
      color: #808080;
    }
  }
  .button {
    position: relative;
    color: var(--second-text-color);
    background-color: var(--accent-color);
    font-size: 18px;
    line-height: 1.56;
    text-transform: capitalize;
  
    fill: currentColor;
    overflow: hidden;
    transition: background-color 250ms linear;
  
    border-radius: 5px;
    padding: 10px 30px;
    &:hover,
    &:focus {
      background-color: var(--hover-btn-color);
    }
  }
  .form__button {
    width: 620px;
    height: 42px;
    font-family: inherit;
    line-height: 1.38;
    transition: background-color 250ms linear;
    &:hover,
    &:focus {
      background-color: var(--hover-btn-color);
    }
  }