body {
  color: var(--first-text-color);
  background-color: var(--first-bgc);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.56;
  font-size: 18px;
}

h1,
h2,
h3,
p {
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1360px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
}
.container__without-paddings {
  padding-left: 0;
  padding-right: 0;
}
