:root {
  --first-text-color: #333333;
  --second-text-color: #ffffff;
  --first-bgc: #ffffff;
  --second-bgc: #f4f4f4;
  --accent-color: #28a745;
  --hero-color-text: #e9e9e9;
  --hover-btn-color: #22913c;
  --blog-bgc: #0284d0;
  --blog-hover-color: #0474b4;
}
