<section id="contact" class="callback">
  <div class="container callback__wrapper">
    <!-- <img src="./images/contact-img.jpg" alt="man with phone" width="680" /> -->
    <div class="callback__form-wrapper">
      <p class="callback__text">Request Callback</p>
      <form class="form">
        <div class="form__wrapper">
          <label for="user-name">
            <input
              class="form__input"
              id="user-name"
              name="user-name"
              type="text"
              minlength="3"
              placeholder="Enter your name"
              required
            />
          </label>
          <label for="user-email">
            <input
              class="form__input"
              id="user-email"
              name="user-email"
              type="email"
              minlength="3"
              placeholder="Enter email*"
              required
            />
          </label>
        </div>
        <button type="submit" class="button form__button">Send</button>
      </form>
    </div>
  </div>
</section>
