<header class="page-header" id="header">
  <h2 class="visually-hidden">Navigation</h2>
  <nav class="navigation">
    <a href="./index.html" class="logotype" <!-->
      <!-- <svg class="logotype__icon" width="40" height="30">
        <use href="./images/icons.svg#icon-logotype"></use>
      </svg> -->
      <span class="logotype--accent">Finance</span> ledger</a
    >
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#home" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item">
        <a href="#about" class="navigation__link">About</a>
      </li>
      <li class="navigation__item">
        <a href="#cases" class="navigation__link">Cases</a>
      </li>
      <li class="navigation__item">
        <a href="#blog" class="navigation__link">Blog</a>
      </li>
      <li class="navigation__item">
        <a href="#contact" class="navigation__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
