<section class="post">
    <div class="container container__without-paddings">
      <div class="post__content-box">
        <div class="post__text-box">
          <h2 class="post__title">
            <span class="post__subtitle">April 16 2020</span>Blog post one
          </h2>
          <p class="post__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
            dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore
            explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
          </p>
        </div>
        <button class="button post__button" type="button">Read our blog</button>
      </div>
      <div class="post__image-box">
        <img
          class="post__image"
          src="./images/blog-post-img.jpg"
          alt="a cup of coffee, a tablet, and a notebook on the table"
          width="680"
        />
      </div>
    </div>
  </section>