<section>
    <div class="container team">
        <h2 id="blog" class="team__title">
            <span class="team__top-title">Who we are</span> Our professional team
        </h2>
        <p class="team__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
        </p>
        <ul class="team__list">
            <li class="team__item">
                <div class="team__item-box">
                    <!-- <img
              src="./images/team-john.jpg"
              alt="Asian in black suit"
              width="420"
              class="team__img"
            /> -->
                    <ul class="team__social-web">
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a> -->
                        </li>
                    </ul>
                </div>

                <div class="team__member-description">
                    <h3 class="team__member-name">John Doe</h3>
                    <p class="team__member-position">President</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__item-box">
                    <!-- <img
              src="./images/team-jane.jpg"
              alt="girl in black chair"
              width="420"
              class="team__img"
            /> -->
                    <ul class="team__social-web">
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a> -->
                        </li>
                    </ul>
                </div>

                <div class="team__member-description">
                    <h3 class="team__member-name">Jane Doe</h3>
                    <p class="team__member-position">Vice President</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__item-box">
                    <!-- <img
              src="./images/team-steve.jpg"
              alt="Man in white shirt in front of laptop"
              width="420"
              class="team__img"
            /> -->
                    <ul class="team__social-web">
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use></svg
                ></a> -->
                        </li>
                        <li>
                            <!-- <a class="team__social-link" href="#"
                  ><svg class="team__social-icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a> -->
                        </li>
                    </ul>
                </div>

                <div class="team__member-description">
                    <h3 class="team__member-name">Steve Smith</h3>
                    <p class="team__member-position">Marketing Head</p>
                </div>
            </li>
        </ul>
    </div>
</section>