<section class="why-us">
  <div class="container why-us__container">
    <div class="why-us__card">
      <img src="./images/post-img.jpg" alt="Why-us" width="680" />
    </div>
    <div class="why-us__box">
      <h2 class="why-us__title">What you are looking for</h2>
      <p class="why-us__text">We provide bespoke solutions</p>
      <p class="why-us__about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
        quae
        laudantium asperiores nam
        aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
      </p>
      <button class="why-us__btn" type="button">Read More</button>
    </div>
  </div>
</section>