.button-up {
  @include flex;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 50px;
}

.button-up__icon {
  fill: var(--accent-color);
  opacity: 0.5;
  transition: opacity 250ms linear, transform 250ms linear;
  &:hover {
    opacity: 1;
    transform: scale(1.2);
    fill: var(--hover-btn-color);
  }
}
